{% extends 'base_layout.html' %}
{% block title %}{{ super() }} - Edit{% endblock title %}

{% block head_content %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock head_content %}


{% block content %}
    <h1>{% if public_id is none %}New image{% else%}Edit image{% endif %}</h1>

    <form method="post" enctype="multipart/form-data" novalidate action="{{ url_for('gallery_edit', public_id=public_id) }}">
        {{ form.hidden_tag() }}

        <input type="hidden" value="{{ s_tags_selected }}" name="s_tags_selected">

        {% if public_id is none %}
            <div class="form-group">
                {{ form.image.label }}
                {{ form.image(class_='form-control') }}

                {% for error in form.image.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <img class="img-fluid" src="{% cloudinary_url public_id, secure=true %}" alt="{{ public_id }}">
        {% endif %}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class_='form-control') }}

            {% for error in form.title.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.tags.label }}
            {{ form.tags(class_='form-control') }}

            {% for error in form.tags.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        {{ form.submit(class_="btn btn-primary") }}
    </form>
{% endblock content %}

{% block script_content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $.getJSON('{{ url_for('api_tags') }}', function(res) {
                var data = res['results'];
                var tags_selected = {{ tags_selected|safe }};

                if (tags_selected.length > 0) {
                    data = data.map(function (item) {
                        if (tags_selected.indexOf(item['text']) !== -1) {
                            item.selected = true;
                        }
                        return item
                    });
                }

                // Delete render placeholder
                $('#{{ form.tags.id }}').empty();

                $('#{{ form.tags.id }}').select2({
                    data: data,
                    tags: true,
                    tokenSeparators: [','],
                    createTag: function (params) {
                        var term = $.trim(params.term);

                        if (term === '') {
                            return null;
                        }

                        return {
                            id: term,
                            text: term,
                            newTag: true // add additional parameters
                        }
                    }
                })
            });
        })
    </script>
{% endblock script_content %}